.navbar
{
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar h1 
{
    font-family: "MickKelly Regular";
    font-weight: 100;
    font-size: 2rem;
    color: var(--white);
}

.navigation ul
{
list-style: none;
display: flex;
align-items: center;
gap: 2rem;
font-family: 'Montserrat', sans-serif;

}
.navigation ul li 
{
    cursor: pointer;
}

.active 
{
    color: var(--white);
    text-decoration: none;

}
.navigation a:link,
.navigation a:visited {
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7rem;
}
.signUp,
.login
{
    padding: 0.5em 3em;
    border-radius: 0.3em;
    font-weight: 500;
    font-size: 0.9rem;
    background-color: var(--purple);
    cursor: pointer;
    color: var(--white);
    scale: 0.9;
}
.signUp:hover
{
  scale: 1;
}
.mobileMenu
{
    background-color: var(--pink);
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
     opacity: 0;
    transition: all ease-in-out 0.5s;
    pointer-events: none;
}

.mobileMenu.show
{
    opacity: 1;
    transition: all ease-in-out 0.5s;
    background-color: #d98fa3ea;
    pointer-events: all;

}
.mobileLinks
{
    text-decoration: none;
    color: var(--white);
    font-size: 2.5rem;
    padding: 0.4rem 0;
}



@media screen and (max-width:890px) {
    .navigation
{
    display: none;
}
.navbar
{
    justify-content: space-between;
}
    
}
@media screen and (min-width:890px) {
    .mobileMenu.show 
{
 display: none;
}
.mobileMenu
{
    display: none;
}
    
}

