/* Fonts Added */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
  font-family: "MickKelly Italic";
  src: url("./assets/fonts/MickKelly-Italic.eot");
  src: local("MickKelly Italic"), local("MickKelly Italic"),
    url("./assets/fonts/MickKelly-Italic.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Italic.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MickKelly Lite";
  src: url("./assets/fonts/MickKelly-Lite.eot");
  src: local("MickKelly Lite"), local("MickKelly Lite"),
    url("./assets/fonts/MickKelly-Lite.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Lite.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Lite.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "MickKelly LiteItalic";
  src: url("./assets/fonts/MickKelly-LiteItalic.eot");
  src: local("MickKelly LiteItalic"), local("MickKelly LiteItalic"),
    url("./assets/fonts/MickKelly-LiteItalic.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-LiteItalic.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-LiteItalic.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "MickKelly Regular";
  src: url("./assets/fonts/MickKelly-Regular.eot");
  src: local("MickKelly Regular"), local("MickKelly Regular"),
    url("./assets/fonts/MickKelly-Regular.eot") format("embedded-opentype"),
    url("./assets/fonts/MickKelly-Regular.woff2") format("woff2"),
    url("./assets/fonts/MickKelly-Regular.woff") format("woff");
  font-weight: lighter;
  font-style: normal;
}

/* All the fonts are sorted */

/* Colors Definition */

:root
{
  --purple:#CAB3E8;
  --pink:#D98FA3;
  --orange:#F29829;
  --green:#B0BF78;
  --dpurple:#654D85;
  --dpink:#884255;
  --dorange:#B0660B;
  --dgreen:#616B3F;
  --white:#F2F2F2;
  --black:#434343;
}

/* Colors sorted */

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link 
{
  text-decoration: none;
  color: black;
}
body 
{
  background-color: var(--dpurple);
}



/* Mobile Nav */
.Slider 
{
  z-index: 10;
}
.hamburger-box{
  position: relative;
  width: 30px;
  height: 14px;
  cursor: pointer;
}
.hamburger, .hamburger:after, .hamburger:before{
  width: 30px;
  height: 4px;
  position: absolute;
  background-color: var(--purple);
}
.hamburger{
  top: 50%;
  margin-top: -2px;
  transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: .1s;
}
.hamburger:after{
  content: "";
  bottom: -10px;
  transition: bottom .1s ease .14s,transform .1s cubic-bezier(.55,.055,.675,.19);
}
.hamburger:before{
  content: "";
  top: -10px;
  transition: top .1s ease .14s,opacity .1s ease;
}
.hamburger-box.active .hamburger:before{
  top: 0;
  transition: top .1s ease,opacity .1s ease .14s;
  opacity: 0;
}
.hamburger-box.active .hamburger{
  transform: rotate(45deg);
  transition-delay: .14s;
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}
.hamburger-box.active .hamburger:after{
  transform: rotate(-90deg);
  bottom: 0;
  transition: bottom .1s ease,transform .1s cubic-bezier(.215,.61,.355,1) .14s;
}
.no-scroll
{
  overflow: hidden;
}

@media screen and (min-width:891px) {
  .hamburger-box
  {
    display: none;
  }
  
}